body {
    background: #ffe205;
    color: #333;
}

.burger-img {
    display: block;
    max-width: 25%;
    margin: 50px auto;
}

h1 {
    text-align: center;
    color: #f33;
}

.burger-container {
    float: left;
    width: 75%;
    padding: 20px;
}